<nav class="nav-header-container">
  <div class="menu-toggle" (click)="toggleMenu()">
    <mat-icon *ngIf="!isMenuOpen">menu</mat-icon>
    <mat-icon *ngIf="isMenuOpen">close</mat-icon>
  </div>
  <ul class="nav-header-links" [ngClass]="{'show-menu': isMenuOpen}">
    <li class="nav-header-itens">
      <a [routerLink]="['/']" (mouseover)="showLabel('home')">
        <mat-icon class="icon">home</mat-icon>
      </a>
      <div class="icon-label" *ngIf="showHomeLabel">Home</div>
    </li>

    <li class="nav-header-itens">
      <a [routerLink]="['/ouca']" routerLinkActive="active" (mouseover)="showLabel('ouvir')">
        <mat-icon class="icon">hearing</mat-icon>
      </a>
      <div class="icon-label" *ngIf="showOuvirLabel">Listen</div>
    </li>

    <li class="nav-header-itens">
      <a [routerLink]="['/fale']" routerLinkActive="active" (mouseover)="showLabel('falar')">
        <mat-icon class="icon">record_voice_over</mat-icon>
      </a>
      <div class="icon-label" *ngIf="showFalarLabel">Speak</div>
    </li>
  </ul>
</nav>
