  <div class="container_gravar">
    <img
      class="icone_gravar"
      src="../../../../assets/img/gravar.gif"
      alt="gravar"
    />
  </div>
  <div class="new-note-card">
    <i class="fa-thin fa-microphone"></i>
    <h1 class="testar_fala">Grave e exercite a sua fala </h1>
    <button (click)="toggleRecording()" [ngClass]="{ 'recording': isRecording }">{{ isRecording ? 'Parar Gravação' : 'Iniciar Gravação' }}</button>
    <button (click)="clearContent()">Limpar Conteúdo</button>
    <div id="timer">{{ formatTime(timerValue) }}</div>
    <textarea class="gravou" [(ngModel)]="content" placeholder="A nota que você gravou aparece aqui"></textarea>

    <div class="button-container">
      <button (click)="saveContent()" [disabled]="content.trim() === ''">Salvar Texto</button>
      <button (click)="playText()" [disabled]="content.trim() === ''">Reproduzir Texto</button>
    </div>

    <div *ngIf="content.trim() === ''" class="error-message">
      Sem conteúdo para reproduzir.
    </div>

    <div class="search-container-wrapper">
      <div class="search-container">
          <mat-icon>search</mat-icon> <input type="text" placeholder="Busque em suas notas" [(ngModel)]="searchTerm" />
      </div>
    </div>

    <div *ngIf="savedContents.length > 0" class="saved-content">
      <!--<h2>Conteúdo Salvo</h2>-->
      <div *ngFor="let savedContent of filteredContents" class="saved-item">
        <div class="card" (click)="openModal(savedContent)">
          <div class="card-header">
            {{ savedContent.date | date:'dd/MM/yyyy HH:mm:ss' }}
          </div>
          <div class="card-body">
            <p class="card-text">{{ savedContent.text }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="modalContent" class="modal">
      <div class="modal-content">
        <span class="close-modal" (click)="closeModal()">&times;</span>
        <div class="modal-header">
          {{ modalContent.date | date:'dd/MM/yyyy HH:mm:ss' }}
        </div>
        <div class="modal-body">
          <p>{{ modalContent.text }}</p>
        </div>
        <div class="modal-footer">
          <button class="delete-button-modal" (click)="deleteContent(modalContent); closeModal()">Apagar Nota</button>
        </div>
      </div>
    </div>

    <div class="language-select-container">
      <h4 class="escolher_idioma">Escolha um idioma</h4>
      <select class="select-container" [(ngModel)]="selectedLanguage">
        <option value="fr-FR">Francês</option>
        <option value="pt-BR">Português (Brasil)</option>
        <option value="en-EN">Inglês</option>
      </select>
    </div>
  </div>



