.testar_fala {
  text-align: center;
  margin-top: 60px;
  color: #ffffff;
  font-size: 30px;
  font-family: "Times New Roman";
}

.error-message {
  color: #ffffff;
  font-size: 20px;
}

.sua-fala {
  font-size: 30px;
  font-family: "Times New Roman";
  color: white;
}
.new-note-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  bottom: 0;
  margin-top: 150px;
  flex-wrap: wrap;
}

.saved-content h3 {
  background-color: transparent;
}

.container_gravar {
  text-align: center;
}

.container_gravar > img {
  margin-top: 30px;
  width: 110px;
  border-radius: 50%;
  margin-bottom: -100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f12d0a;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid black;
  box-shadow: 2px 2px 6px 4px black;
  margin: 5px;
}

button:hover {
  background-color: #1a1aff;
  border-radius: 6px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #0000ff;
  border-radius: 5px;
  resize: vertical;
  transition: border-color 0.3s ease;
}

.gravou {
  color: black;
}

textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.timer {
  font-size: 24px;
  margin-top: 10px;
}

button.recording {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#timer {
  display: inline-block;
  background-color: #2f2fff;
  padding: 5px 10px;
  color: black;
  width: 80px;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 3px black;
}

#timer.timer-finished {
  background-color: red;
}

/* ... (estilos do conteudo salvo) */

.new-note-card .saved-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr)); /* Responsivo com mínimo de 300px */
  grid-gap: 10px;
  margin-top: 20px;
}

.saved-item {
  padding: 10px;
}

.saved-content .card {
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Indica que é clicável */
  height: 150px; /* Altura fixa para os cards */
  overflow: hidden; /* Esconde o texto que ultrapassa a altura */
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  justify-content: space-between; /* Alinha o conteúdo verticalmente */
  position: relative;
  box-sizing: border-box;
}

.saved-content .card:hover {
  background-color: #000000;
  border: 2px solid blue;
}

.saved-content .card .card-header {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.saved-content .card .card-body {
  flex-grow: 1; /* Permite que o corpo cresça e ocupe o espaço disponível */
  overflow: hidden; /* Esconde o texto que ultrapassa a altura */
}

.saved-content .card .delete-container{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}

.saved-content .card .delete-container .delete-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

/* Estilos para o grid (responsividade) */
.saved-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3 colunas responsivas */
  grid-gap: 10px; /* Espaçamento entre os cartões */
}


@media (max-width: 1200px) {
  .new-note-card .saved-content {
    //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta para telas menores */
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

/* Media query para telas menores (ex: mobile) */
@media (max-width: 768px) {
  .new-note-card .saved-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta para telas menores */
  }
}

.modal {
  position: fixed; /* Fixa o modal na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  z-index: 1000; /* Garante que o modal fique acima de outros elementos */
  opacity: 1; /* Inicialmente invisível */
  transform: scale(0.8); /* Escala inicial menor para o efeito de "zoom" */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transições suaves */
}

.modal.show { /* Classe adicionada quando o modal deve ser exibido */
  opacity: 1; /* Torna o modal visível */
  transform: scale(1); /* Restaura a escala normal */
}

.modal-content {
  background-color:rgb(26, 25, 25);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Largura máxima do modal */
  width: 90%; /* Largura responsiva */
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.close-modal:hover {
  color: red;
}

.modal-header {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 10px;
  max-height: 200px; /* Altura máxima do conteúdo */
  overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo exceder a altura */
}

.modal-body p {
  color: white;
  font-size: 20px;
}

.modal-footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: right;
}

.delete-button-modal {
  background-color: #dc3545; /* Vermelho */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button-modal:hover {
  background-color:rgb(154, 4, 19); /* Vermelho mais escuro no hover */
}

/* campo de busca */

.search-container-wrapper {
  position: fixed; /* Posiciona o container absolutamente */
  top: 60px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  z-index: 1000; /* Garante que fique acima de outros elementos */
  width: 300px;
}

.search-container {
  display: flex; /* Usa flexbox para alinhar o input e o ícone */
  align-items: center; /* Alinha verticalmente */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.search-container input[type="text"] {
  border: none;
  padding: 5px;
  outline: none; /* Remove a borda ao clicar no input */
  flex-grow: 1; /* Permite que o input cresça e ocupe o espaço */
  width: 250px;
}

.search-container i {
  margin-left: 5px; /* Espaçamento entre o input e o ícone */
  color: #777; /* Cor do ícone */
}

/* ... outros estilos */

.language-select-container {
  position: fixed;
  top: 150px;
  right: 10px;
}

.select-container {
  border-radius: 3px;
  width: 170px;
  height: 28px;
  border: 2px solid black;
  box-shadow: 1px 1px 3px 1px black;
  color: black;
  font-size: 18px;
}

.language-select select {
  padding: 5px;
  font-size: 18px;
}

.escolher_idioma {
  margin-bottom: 12px;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman";
}

.recording {
  animation: pulse 1s infinite alternate;
}

.icone-play {
  width: 40px;
  height: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-container button {
  flex: 1; /* Garante que os botões ocupem a mesma largura */
  height: 40px;
  width: 180px;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, .7), 0 0 0 0 rgba(255, 4, 0, .7);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 10px rgba(255, 4, 0, .7);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 10px rgba(255, 4, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, .7), 0 0 0 10px rgba(255, 4, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  textarea {
    max-width: 100%;
  }
}
