.testar_fala {
  text-align: center;
  margin-top: 60px;
  color: #ffffff;
  font-size: 30px;
  font-family: "Times New Roman";
}

.error-message {
  color: #ffffff;
  font-size: 20px;
}

.sua-fala {
  font-size: 30px;
  font-family: "Times New Roman";
  color: white;
}
.new-note-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  bottom: 0;
  margin-top: 150px;
}

.saved-content h3 {
  background-color: transparent;
}

.container_gravar {
  text-align: center;
}

.container_gravar > img {
  margin-top: 30px;
  width: 110px;
  border-radius: 50%;
  margin-bottom: -100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f12d0a;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid black;
  box-shadow: 2px 2px 6px 4px black;
  margin: 5px;
}

button:hover {
  background-color: #1a1aff;
  border-radius: 6px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #0000ff;
  border-radius: 5px;
  resize: vertical;
  transition: border-color 0.3s ease;
}

.gravou {
  color: black;
}

textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

.new-note-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.timer {
  font-size: 24px;
  margin-top: 10px;
}

button.recording {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#timer {
  display: inline-block;
  background-color: #2f2fff;
  padding: 5px 10px;
  color: black;
  width: 80px;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 3px black;
}

#timer.timer-finished {
  background-color: red;
}

.saved-item {
  display: flex;
  align-items: center;
}

.saved-content > h2 {
  margin-bottom: 25px;
  margin-top: 25px;
  color: white;
  text-decoration: underline;
  text-align: center;
}

.text-content {
  flex: 1;
  margin-right: 10px;
  height: 39px;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.delete-button {
  margin-top: -18px;
  height: 26px;
  width: 90px;
  cursor: pointer;
  text-align: center;
}

.delete-container {
  display: flex; /* Para alinhar o botão e a mensagem horizontalmente */
  align-items: center; /* Para centralizar verticalmente */
  position: relative; /* Necessário para posicionar a mensagem absolutamente */
}

.delete-message {
  margin-left: 5px; /* Espaçamento entre o botão e a mensagem */
  white-space: nowrap; /* Impede que a mensagem quebre para a próxima linha */
  font-size: 18px;
  color: white;
  position: absolute; /* posicionamento absoluto para evitar que a mensagem altere o layout */
  top: 50%;
  transform: translateY(-320%);
  left: calc(100% + 5px); /* posiciona a mensagem à direita do botão */
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* adiciona uma transição suave de opacidade */
  pointer-events: none; /* Evita que a mensagem capture eventos do mouse */
}
.delete-container:hover .delete-message {
  opacity: 1; /* Mostra a mensagem quando o container é hoverado */
}

.icon-delete {
  margin-top: -16px;
}

.language-select-container {
  position: fixed;
  top: 150px;
  right: 10px;
}

.select-container {
  border-radius: 3px;
  width: 170px;
  height: 28px;
  border: 2px solid black;
  box-shadow: 1px 1px 3px 1px black;
  color: black;
  font-size: 18px;
}

.language-select select {
  padding: 5px;
  font-size: 18px;
}

.escolher_idioma {
  margin-bottom: 12px;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman";
}

.recording {
  animation: pulse 1s infinite alternate;
}

.icone-play {
  width: 40px;
  height: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-container button {
  flex: 1; /* Garante que os botões ocupem a mesma largura */
  height: 40px;
  width: 180px;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, .7), 0 0 0 0 rgba(255, 4, 0, .7);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 10px rgba(255, 4, 0, .7);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 10px rgba(255, 4, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 4, 0, .7), 0 0 0 10px rgba(255, 4, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  textarea {
    max-width: 100%;
  }
}
