  <div class="container_ouco">
    <img
      class="icone_ouco"
      src="../../../../assets/img/unidade.gif"
      alt="ouvir"
    />
  </div>

  <div class="img-container">
    <img src="../../../assets/img/logo_frances.png" alt="logo_frances_ht" />
  </div>

  <h2 class="title">Escolha um idioma e <span>treine a sua audição</span></h2>

  <div class="speed-control">
    <label for="speakingSpeed">Velocidade de fala:</label>
    <input type="range" id="speaking_Speed" name="speakingSpeed" min="0.5" max="2" step="0.01" [(ngModel)]="speakingSpeed" (change)="onSpeedChange($event)">
    <span>{{ speakingSpeed }}</span>
  </div>

  <div class="translate-container">
    <div class="input_container">
      <input type="text" [(ngModel)]="word" placeholder="Digite uma palavra ou uma frase ">
    </div>


    <div class="select">
      <select class="select-language" [(ngModel)]="language">
        <option value="en">Inglês</option>
        <option value="fr">Francês</option>
        <option value="pt-br">Português</option>
      </select>
    </div>
    <div class="button">
      <button (click)="speakWord()">Pronunciar</button>
    </div>
  </div>


  <h2 class="clique_ouça"><span>Clique nas seguintes fotos</span> e ouça</h2>
  <div class="image-container">

    <div class="card" id="Courir" (click)="onImageClick('Courir')" [ngClass]="{ 'blink': imageFound && spokenWord === 'Courir' }">
      <img src="../../../assets/img/correr.jpg" alt="Courir">
      <div class="spoken-word" *ngIf="spokenWord === 'Courir'">{{ spokenWord }}</div>
    </div>

    <div class="card" id="Marcher" (click)="onImageClick('Marcher')" [ngClass]="{ 'blink': imageFound && spokenWord === 'Marcher' }">
      <img src="../../../assets/img/caminhar.jpg" alt="Caminhar">
      <div class="spoken-word" *ngIf="spokenWord === 'Marcher'">{{ spokenWord }}</div>
    </div>

    <div class="card" id="Cuisiner" (click)="onImageClick('Cuisiner')" [ngClass]="{ 'blink': imageFound && spokenWord === 'Cuisiner' }">
      <img src="../../../assets/img/cozinhar.jpg" alt="Cozinhar">
      <div class="spoken-word" *ngIf="spokenWord === 'Cuisiner'">{{ spokenWord }}</div>
    </div>

    <div class="card" id="Piloter" (click)="onImageClick('Piloter')" [ngClass]="{ 'blink': imageFound && spokenWord === 'Piloter' }">
      <img src="../../../assets/img/dirigir.jpg" alt="Dirigir">
      <div class="spoken-word" *ngIf="spokenWord === 'Piloter'">{{ spokenWord }}</div>
    </div>

    <div class="card" id="Nature" (click)="onImageClick('La nature')" [ngClass]="{ 'blink': imageFound && spokenWord === 'Nature' }">
      <img src="../../../assets/img/jour.jpg" alt="Jour">
      <div class="spoken-word" *ngIf="spokenWord === 'La nature'">{{ spokenWord }}</div>
    </div>

    <div class="card" id="Soleil" (click)="onImageClick('Le coucher du soleil')" [ngClass]="{ 'blink': imageFound && spokenWord === 'Soleil' }">
      <img src="../../../assets/img/coucher.jpg" alt="Coucher">
      <div class="spoken-word" *ngIf="spokenWord === 'Le coucher du soleil'">{{ spokenWord }}</div>
    </div>

    <div class="card" id="Maison" (click)="onImageClick('Une maison')" [ngClass]="{ 'blink': imageFound && spokenWord === 'Maison' }">
      <img src="../../../assets/img/maison.jpg" alt="Maison">
      <div class="spoken-word" *ngIf="spokenWord === 'Une maison'">{{ spokenWord }}</div>
    </div>
  </div>
