<div class="container_consultation">
  <img src="../../../../assets/img/logo_frances.png"/>
</div>

<div class="home-container">
  <h1>Olá, você é um amante de idiomas?</h1>
  <h2>Desenvolvemos técnicas para você treinar:</h2>
  <div class="languages">
    <mat-icon class="icon-language">language</mat-icon>
    <h2>Francês, Inglês e Português</h2>
  </div>
</div>

<div class="cards-container">
  <div class="card">
    <img src="/assets/img/ouvir_frances.png" alt="Ouvir Francês" />
    <p>Ouça bastante e com atenção</p>
  </div>

  <div class="card">
    <img src="/assets/img/falar_frances.jpg" alt="Falar Francês" />
    <p>Treine bastante a sua fala</p>
  </div>
</div>
