<!--<div id="mensagem_boas_vindas" class="mensagem_boas_vindas">
  <div class="container_aceno_gif">
    <img
      id="aceno_gif"
      class="aceno_gif"
      src= "../../../assets/img/aceno.gif"
      alt="minha foto"
    >
  </div>
  <div class="container_texto_boas_vindas">
    <h2 id="welcome_message"></h2>
  </div>
</div>-->

<div class="container_consultation">
  <img
    class="icone_consultation"
    src="../../../../assets/img/bater-papo.gif"
    alt="consultation"
  />
</div>

<div class="home-container">
  <h1>Vamos treinar <span> o Francês?</span></h1>
  <img src="../../../../assets/img/logo_frances.png"/>
</div>
